<app-nav-header (sendTextGame)="renderSearchGames($event)"></app-nav-header>
<article class="gamesFound" *ngIf="foundGames.length !== 0">
  <h2>Todos los Juegos encontrados con "{{ textGame | titlecase }}"</h2>
</article>
<article class="gamesNotFound" *ngIf="foundGames.length === 0">
  <h2 *ngIf="foundGames.length === 0 && textGame" class="error-text">
    No se encontraron juegos con la búsqueda "{{ textGame | lowercase }}"
  </h2>
  <h2 *ngIf="foundGames.length === 0 && !textGame">
    Bienvenido a la Búsqueda de Juegos!
  </h2>
  <h2>
    Debes colocar algun texto de juego en la caja de<br>
    <span class="material-icons-outlined">search</span> Búsqueda
  </h2>
</article>
<section class="items-container">
  <div class="col" *ngFor="let game of foundGames">
    <app-game-card
      [gameID]="game.gameID"
      [titleGame]="game.external"
      [imgThumb]="game.thumb"
      [internalName]="game.internalName"
      (gamePicker)="gettingIdGame($event)">
    </app-game-card>
  </div>
</section>
<app-modal-detail [gamePicked]="idGamePicked" [openModal]="fireModal"></app-modal-detail>
