@import '../../../styles';

// Estilos para el contenedor de las tarjetas de los Juegos encontrados
.items-container {
  display: grid;
  grid-template-columns: repeat(4, 22%);
  gap: 4% 4%;
  box-sizing: content-box;
  margin-top: 20px;
  padding-bottom: 180px;
  padding-left: 12%;
  padding-right: 12%;
  width: 76%;
  height: auto;

  @include responsive(large) {
    grid-template-columns: repeat(3, 30%);
    gap: 5% 5%;
  }

  @include responsive(medium) {
    grid-template-columns: repeat(2, 46%);
    gap: 4% 8%;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
  }

  @include responsive(small) {
    grid-template-columns: 100%;
    gap: 3% 6%;
    padding-left: 15%;
    padding-right: 15%;
    width: 70%;
  }

  @include responsive(smaller) {
    row-gap : 1%;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
  }

}

// Estilos para los mensajes de búsqueda fallidas
.gamesNotFound {
  font-family: $globalFont;
  color: $titleGameItem;
  overflow-wrap: normal;
  width: 50%;
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;

  h2 {
    margin: none !important;

    span {
      font-size: 2.5rem;
      position: relative;
      top: 12px;

      @include responsive(medium) { font-size: 1.5rem }
    }

    @include responsive(medium) { font-size: 1rem }
  }

  .error-text {
    color: $textError;
  }
}

// Estilos para los mensajes de búsqueda exitosos
.gamesFound {
  @extend .gamesNotFound;
  margin: 100px 40% 0 10%;
  text-align: left;
}
