@import '../../../styles';

// Diseño de la grilla de las tarjetas de Info del Juego
.grid-card {
  display: flex;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, max-content);
  border-radius: 8px;
  background-color: $backgroundTopbar;
  box-shadow: 1px 1px 4px 2px $borderColorTopbar;
}

// Fila contenedora de la Imagen
.row-grid-img {
  display: flex;
  flex-flow: column;
  width: 100%;

  img {
    width: auto;
    height: 16vh;
    max-width: 100%;
    margin: 24px;
    object-fit: cover;
    border-radius: 8px;
  }  
}

// Fila del Nombre del Juego
.row-grid-title {
  display: flex;
  flex-flow: column;
  padding: 1rem 0;
  text-align: center;
  height: auto;
  width: 100%;

  span {
    color: $titleGameItem;
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 1rem;
  }
}

// Fila del Boton del -- Ver Detalles --
.row-grid-button {
  text-align: center;
  padding-bottom: 1rem;

  button {  
    padding: .5rem 1rem;
    font-family: $globalFont;
    font-size: 1em;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    color: $colorFontBtnItem;
    background-color: $colorBtnItem;

    &:hover {
      background-color: $colorBtnItemHover;
      color: $colorFontBtnItemHover;
    }
  }
}