<article class="grid-card">
  <div class="row-grid-img">
    <img src="{{ imgThumb }}" alt="{{ internalName }}">
  </div>
  <div class="row-grid-title">
    <span>{{ titleGame }}</span>
  </div>
  <div class="row-grid-button">
    <button type="button" data-id="{{ gameID }}" (click)="onClickViewDetails($event)">Ver detalles</button>
  </div>
</article>
