<section class="modal-details" [style.display]="showDetailsModal">
  <article class="modal-content-details">
    <div class="row full-col top-row">
      <span class="material-icons-outlined close-modal-button" (click)="closeModalDetails()">close</span>
    </div>
    <div class="col game-img"><img src="{{ gameDetail.info.thumb }}" alt="{{ gameDetail.info.title }}"></div>
    <div class="col info-game">
      <h2>{{ gameDetail.info.title }}</h2>
      <h3>Precio Vendido más económico</h3>
      <span>Precio: $ {{ gameDetail.cheapestPriceEver.price }}</span>
      <span>Fecha: {{ gameDetail.cheapestPriceEver.date | date :"mediumDate" :"UTC-5" }}</span>
    </div>
    <div class="row col full-col deals-info">
      <table>
        <caption><h3>Acuerdos de Venta</h3></caption>
        <thead>
          <tr class="deals-header">
            <th>Tienda</th>
            <th>Precio de Venta</th>
            <th>Precio Venta al Público</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let deal of gameDetail.deals" class="deals-rows">
            <td>{{ deal.storeID }}</td>
            <td>$ {{ deal.price }}</td>
            <td>$ {{ deal.retailPrice }}</td>    
          </tr>
        </tbody>
      </table>
    </div>
  </article>
</section>
