@import '../../../styles';

// Estilo de fondo Overlay de la ventana modal
.modal-details {
  display: none;
  position: fixed;
  padding-top: 16vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: $colorOverlayModal;
}

// Diseño de la Ventana Modal estilo Tarjeta
.modal-content-details {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 6% 54% 40%;
  position: relative; 
  background-color: $backgroundTopbar;
  padding: 16px; 
  margin: 3vh auto; 
  width: 60%;
  height: 60%;
  max-height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: -2px -2px 16px 16px $colorOverlayModal;  
  -webkit-animation-name: top-animate;
  -webkit-animation-duration: 0.3s;
  animation-name: top-animate;
  animation-duration: 0.3s;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include responsive(larger) {
    width: 70%;
    max-width: 760px;
    max-height: 420px;
  }

  @include responsive(large) { width: 80%; }

  @include responsive(medium) {
    grid-template-columns: 100%;
    width: 70%;
  }

  @include responsive(small) {
    width: 84%;
    font-size: .75em;
  }
}

// Estilo mutador de columnas en la ventana modal
.full-col {
  grid-column: 1/3;
}

// Estilos para la Imagen del Juego en Ventana Modal
.game-img {
  border-radius: 8px;
  margin: none;
  text-align: center;

  img {
    width: auto;
    height: 32vh;
    max-height: 100%;
    max-width: 100%;
    object-fit: fill;
    border-radius: 8px;

    @include responsive(medium) { height: 28vh; }

    @include responsive(small) {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include responsive(smaller) {
      height: 80%;
    }
  }

  @include responsive(medium) {
    grid-column: 1/3;
  }
}

// Estilos de la información del Juego en la Ventana Modal
.info-game {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  margin-right: 16px;
}

// Estilos de la tabla de Ventas realizadas de la Ventana Modal
.deals-info {
  height: max-content;
  text-align: center;

  table {
    margin: 2vh 0;
    width: 100%;

    thead {
      .deals-header {
        background-color: $backgroundTableHeader;
        color: $colorFontBtnItem;
        
        th {
          padding: 0 4vw;
          text-align: center;
          border-radius: 4px;
        }
      }
    }

    tbody {
      .deals-rows {
        &:nth-of-type(2n) {
          background-color: $borderColorTopbar;
        }

        td {
          border-radius: 4px;

          &:nth-of-type(1) {
            padding-left: .5rem;
            text-align: left;
          }

          &:nth-of-type(2), &:nth-of-type(3) {
            padding-right: .5rem;
            text-align: right;
          }
        }
      }
    }
  }

  @include responsive(medium) {
    margin-top: 0;
    caption {
      h3 { margin-top: 0; }
    }
  }
}

// Estilo de bloque del boton de cierre de Ventana Modal
.top-row {
  text-align: right;
  height: max-content;
  @extend .col;
}

// Estilo Boton de Cierre de Ventana Modal
.close-modal-button {
  position: fixed;
  margin-left: -24px;
  margin-top: -8px;
  color: $placeHolderSearch; 
  font-size: 32px;  
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: $hoverButtonCloseModal;
  }
}

// Animación de la Ventana Modal
@keyframes top-animate {
  from {
    top: -300px;
    opacity:0;
  }

  to {
    top: 0;
    opacity: 1;
  }  
}

@-webkit-keyframes top-animate {
  from {
    top: -300px;
    opacity:0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
