@import '../../../styles';

// Variables Auxiliares
$usernamePorfile: 'text-profile';

// Contenedor de la Barra Superior de la IU
.container {
  width: 100%;
  height: 80px;

  @include responsive(medium) { height: 80px; }
  @include responsive(large) { height: 120px; }
}

// Estilos de la barra superior de la IU
.topbar-fixed {
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: auto;
  background-color: $backgroundTopbar;
  box-shadow: 0 4px 2px 2px $borderColorTopbar;
  color: $backgroundLogo;
  font-weight: bold;

  @include responsive(large) {
    font-size: .85em;
  }

  @include responsive(medium) {
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: repeat(2, max-content);
  }

  @include responsive(small) {
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: repeat(3, max-content);
  }
}

// Columna que otorga espacio para el Logo
.col-space {
  width: 24vw;

  @include responsive(large) { width: 18vw; }
  @include responsive(medium) { width: 24vw !important; }
}

// Bloque contenedor de la caja de busqueda en la Barra superior de la IU
.search-box {
  margin: 1rem;
  border: 1px solid $borderColorTopbar;
  border-radius: 4px;
  width: 36vw;

  span {
    cursor: pointer;
  }

  input.text-box {
    font-family: $globalFont;
    top: 0;
    padding: .25rem 0;
    margin: .25rem 0;
    font-size: 1em;
    width: 32vw;
    height: 2rem;
    border: none;

    &::placeholder {
      font-weight: bold;
      color: $placeHolderSearch;
    }

    &:focus { outline: none; }

    @include responsive(large) { width: 20vw; }
    @include responsive(medium) { width: 90%; }
    @include responsive(medium) { width: 80%; }
  }

  @include responsive(large) {
    grid-area: 1/2/2/3;
    width: 28vw;
  }

  @include responsive(medium) {
    grid-area: 2/1/3/4;
    width: 80%;
    margin: 2.5vh 10% 1vh 10%;
  }

  @include responsive(small) {
    grid-area: 3/1/4/4;
    width: 90%;
    margin: 2vh 5% 1vh 5%;
  }
}

// Clase abstracta para algunos contenedores de la Barra Superior
.box {
  margin: 1rem 0;
  width: 19vw;
  height: auto;

  @include responsive(large) { width: 22vw; }
  @include responsive(medium) { width: 100% !important; }
}

// Contenedor del Carrito de Compras en la Barra Superior
.shopcart-box {
  @extend .box;
  text-align: center;

  span.text-shopcart {
    width: 50%;
    display: inline-flex;
    text-align: center;
  }

  @include responsive(smaller) {
    width: 90%;
    grid-area: 2/2/3/4;
    margin-bottom: 0;
  }
}

// Icono del Carrito de Compras con Identificador de Cantidad de Productos
div.badge-shopcart {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;

  &:after {
    content: attr(value);
    position: relative;
    top: 1rem;
    left: -.75rem;
    border-radius: 50%;
    padding: 2px 8px;
    background-color: $backgroundLogo;
    border: 1px solid $colorFontBoderBadge;
    text-align: center;
    color: $colorFontBoderBadge;
    font-size: .85em;
    font-weight: bold;
  }
}

// Contenedor del Boton para Prefil de Usuario en la Barra Superior
.profile-account-box{
  @extend .box;
  text-align: left;

  span#text-profile {
    display: inline-block;
    text-align: left;
    padding: .5rem 0;
    margin-left: -.75rem;
    width: max-content;

    &::before {
      content: "";
      position: relative;
      width: 0;
      height: 0;
      border-top: 6px solid $backgroundLogo;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      left: calc(100% + 16px);
      top: 12px;
    }
  }

  @include responsive(smaller) {
    grid-area: 1/2/2/4;
    margin-bottom: 0;
    margin-left: 20%;
  }
}

// Estilos para el Logo de la Barra Superior
.logo-sticky {
  position: fixed;
  background-color: $backgroundLogo;
  left: 2vw;
  top: 0;
  width: max-content;
  height: max-content;
  text-align: center;
  border-radius: 0 0 16px 16px;

  @mixin shrinkLogo() {
    width: 60px;
    height: auto;
    padding: 8px 64px;
  }

  .logo {
    width: 100px;
    height: auto;
    padding: 16px 64px;

    @include responsive(large) {
      @include shrinkLogo();
      padding: 8px 32px;
    }

    @include responsive(smaller) {
      @include shrinkLogo();
      padding: 6px 16px;
    }
  }

  .shrink { @include shrinkLogo(); }

  @include responsive(large) { left: 1vw }
}
