<header class="container">
  <nav class="topbar-fixed">
    <div class="col col-space"></div>
    <div class="search-box col">
      <span class="material-icons-outlined font-icon icon-search" (click)="searchGameText()">search</span>
      <input type="search" class="text-box" id="searcherGame" (search)="searchGameText()" autocomplete="off"
        placeholder="¿Qué estás buscando?" [(ngModel)]="textToFindGame" [value]="textToFindGame">
    </div>
    <div class="shopcart-box col">
      <span class="text-shopcart">Resumen de Compras</span>
      <div class="badge-shopcart" value="0">
        <span class="material-icons-outlined font-icon">shopping_cart</span>
      </div>
    </div>
    <div class="profile-account-box col">
      <span class="material-icons-outlined font-icon">account_circle</span>
      <span id="text-profile">Marlon André</span>
    </div>
  </nav>
  <div class="logo-sticky">
    <img src="../../../assets/Logo.png" alt="Game Search" class="logo">
  </div>
</header>
