// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

// Puntos de Cambios para las Respuestas Responsivas  
$screenXSmall: 464px;
$screenSmall: 576px;
$screenMedium: 824px;
$screenLarge: 1048px;
$screenXLarge: 1200px;

// Colores y Atributos Globales de la Aplicación
$globalFont: 'Nunito', sans-serif;
$backgroundLogo: #af2d2d;
$backgroundSection: whitesmoke;
$borderColorTopbar: lightgrey;
$placeHolderSearch: grey;
$backgroundTopbar: white;
$colorFontBoderBadge: $backgroundTopbar;
$titleGameItem: black;
$colorBtnItem: darkorange;
$colorBtnItemHover: orange;
$colorFontBtnItem: whitesmoke;
$colorFontBtnItemHover: white;
$colorOverlayModal: #00000080;
$hoverButtonCloseModal: $backgroundLogo;
$backgroundTableHeader: #af2d2dbb; // Color igual al Logo pero con menos opacidad --"bb"
$textError: orangered;

// Estilos de Elementos Contenedores Globales
html, body { height: 100%; }
body { margin: 0; font-family: $globalFont; background-color: $backgroundSection; }

// Conjunto de Funciones para la Respuesta Responsiva de la Aplicación
@mixin responsive($screenSize) {
  @if($screenSize == larger) {
    @media (min-width: $screenXLarge) { @content }
  }

  @if($screenSize == large) {
    @media (max-width: $screenLarge) { @content }
  }

  @if($screenSize == medium) {
    @media (max-width: $screenMedium) { @content }
  }

  @if($screenSize == small) {
    @media (max-width: $screenSmall) { @content }
  }

  @if($screenSize == smaller) {
    @media (max-width: $screenXSmall) { @content }
  }
}

// Estilos Globales para los Iconos de la Aplicación 
.font-icon {
  color: $backgroundLogo;
  padding: .25rem;
  font-size: 2em;
  float: left;
}

// Estilos de Filas y Columnas Globales de la Aplicación
.col {
  width: 100%;
}

.row {
  height: 100%;
}
